################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EGO/bin/Debug/net8.0-windows
/EGO/obj/Debug/net8.0-windows
/.vs/EGO/FileContentIndex
/.vs
/.vs/EGO/DesignTimeBuild/.dtbcache.v2
/WebApp/obj/Debug/net8.0/ref/WebApp.dll
/WebApp/obj/Debug/net8.0/refint/WebApp.dll
/WebApp/obj/Debug/net8.0/apphost.exe
/WebApp/obj/Debug/net8.0/WebApp.AssemblyInfo.cs
/WebApp/obj/Debug/net8.0/WebApp.AssemblyInfoInputs.cache
/WebApp/obj/Debug/net8.0/WebApp.dll
/WebApp/obj/Debug/net8.0/WebApp.csproj.CoreCompileInputs.cache
/WebApp/obj/Debug/net8.0/WebApp.sourcelink.json
/WebApp/bin/Debug/net8.0/WebApp.dll
/WebApp/bin/Debug/net8.0/WebApp.exe
/WebApp/bin/Debug/net8.0/WebApp.pdb
/WebApp/obj/Debug/net8.0/WebApp.pdb
