################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EGO/bin/Debug/net8.0-windows
/EGO/obj/Debug/net8.0-windows
/.vs/EGO/FileContentIndex
